@import "@unocss/reset/tailwind-v4.css";
@font-face {
  font-family: Inter Variable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/InterVariable.woff2?v=4.1") format("woff2");
}
@font-face {
  font-family: Inter Variable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/InterVariable-Italic.woff2?v=4.1") format("woff2");
}
:root {
  color-scheme: dark;
  background-color: var(--m3c-surface);
  color: var(--m3c-on-surface);
  accent-color: var(--m3c-primary);
  font-family: "Inter Variable", system-ui;
  interpolate-size: allow-keywords;
  --m3c-surface: #0f0d12;
  --m3c-surface-container-lowest: #000;
  --m3c-surface-container-low: #141218;
  --m3c-surface-container: #1b181f;
  --m3c-surface-container-high: #211e26;
  --m3c-surface-container-highest: #27242d;
  --m3c-on-surface: #eae3ef;
  --m3c-on-surface-variant: #afa9b4;
  --m3c-outline: #78737e;
  --m3c-outline-variant: #4a4650;
  --m3c-inverse-surface: #fdf7fe;
  --m3c-inverse-on-surface: #575459;
  --m3c-primary: #cec0ec;
  --m3c-on-primary: #453a5f;
  --m3c-primary-container: #574d72;
  --m3c-on-primary-container: #eadeff;
  --m3c-inverse-primary: #64597f;
  --m3c-secondary: #ccc2db;
  --m3c-on-secondary: #433d51;
  --m3c-secondary-container: #3e384c;
  --m3c-on-secondary-container: #c4bbd4;
  --m3c-tertiary: #ffcfee;
  --m3c-on-tertiary: #69415f;
  --m3c-tertiary-container: #f4bfe3;
  --m3c-on-tertiary-container: #603956;
  --m3c-error: #f97386;
  --m3c-on-error: #490013;
  --m3c-error-container: #871c34;
  --m3c-on-error-container: #ff97a3;
  --m3c-shadow: #000;
  --m3c-scrim: #000;
  --m3c-on-on-primary: #cdbfec;
  --m3c-primary-container-subtle: #302649;
  --m3c-on-primary-container-subtle: #b2a4cf;
  --m3c-secondary-container-subtle: #2f293c;
  --m3c-on-secondary-container-subtle: #b0a7bf;
  --m3c-tertiary-container-subtle: #43203b;
  --m3c-on-tertiary-container-subtle: #ce9cbe;
  --m3c-error-container-subtle: #5f001c;
  --m3c-on-error-container-subtle: #ff8796;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.font-display-large {
  font-size: 3.563rem;
  line-height: 1.123;
  letter-spacing: 0;
  font-weight: 400;
}
.font-headline-large {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 0;
  font-weight: 400;
}
.font-headline-small {
  font-size: 1.5rem;
  line-height: 1.333;
  letter-spacing: 0;
  font-weight: 400;
}
.font-title-medium {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 500;
}
.font-label-large {
  font-size: 0.875rem;
  line-height: 1.429;
  letter-spacing: 0.006rem;
  font-weight: 500;
}
.font-label-medium {
  font-size: 0.75rem;
  line-height: 1.333;
  letter-spacing: 0.031rem;
  font-weight: 500;
}
.font-body-medium {
  font-size: 0.875rem;
  line-height: 1.429;
  letter-spacing: 0.016rem;
  font-weight: 400;
}
::selection {
  background-color: var(--m3c-primary-container-subtle);
  color: var(--m3c-on-primary-container-subtle);
}
