.prose {
  display: flex;
  flex-direction: column;
  > * {
    margin-top: 1em;
  }
  > h1 {
    font-size: 3rem;
  }
  > h2 {
    font-size: 2rem;
  }
  > h3 {
    font-size: 1.5rem;
  }
  > pre {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--m3c-surface-container) !important;
    color: inherit !important;
    position: relative;
    > .copy {
      position: absolute;
      inset: 0 0 auto auto;

      padding: 0.5rem;
      line-height: 1;
      border-radius: 1rem;
      cursor: pointer;
      background-color: var(--m3c-surface-container-highest);
      transition: opacity 0.2s;
    }
    &:not(:hover) > .copy {
      opacity: 0;
    }
  }
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
  }
  a {
    color: var(--m3c-primary);
  }
  blockquote {
    border-left: 0.25rem solid var(--m3c-outline);
    padding-left: 0.75rem;
  }
}
