<form id="delete-form" action="/settings-api/delete-user"></form>
<button form="delete-form" class="delete font-label-large layer">Delete account</button>

<script>
  const deleteForm = document.querySelector("#delete-form") as HTMLFormElement;
  deleteForm.onsubmit = (e) => {
    const confirmation = prompt(
      'This action cannot be undone. Type "Delete my account" to confirm.',
    );
    if (confirmation != "Delete my account") {
      e.preventDefault();
      alert("Account deletion cancelled.");
    }
  };
</script>

<style>
  #delete-form {
    display: none;
  }
  .delete {
    display: flex;
    align-items: center;
    align-self: start;
    height: 2.5rem;
    border-radius: 1.25rem;
    padding-inline: 1rem;
    background-color: var(--m3c-error-container);
    color: var(--m3c-on-error-container);
    cursor: pointer;
  }
</style>
