<details class="password-details">
  <summary class="font-label-large layer">Change password</summary>
  <form class="password-form">
    <input
      type="password"
      id="currentPassword"
      placeholder="Current password"
      autocomplete="current-password"
      required
    />
    <input
      type="password"
      id="newPassword"
      placeholder="New password"
      autocomplete="new-password"
      minlength="8"
      required
    />
    <input
      type="password"
      id="confirmNewPassword"
      placeholder="Confirm new password"
      autocomplete="new-password"
      required
    />
    <button class="font-title-medium layer">Change password</button>
  </form>
</details>

<script>
  const passwordForm = document.querySelector(".password-form") as HTMLFormElement;
  const currentPasswordInput = passwordForm.querySelector("#currentPassword") as HTMLInputElement;
  const newPasswordInput = passwordForm.querySelector("#newPassword") as HTMLInputElement;
  const confirmNewPasswordInput = passwordForm.querySelector(
    "#confirmNewPassword",
  ) as HTMLInputElement;
  const button = passwordForm.querySelector("button") as HTMLButtonElement;

  const validateEqual = () => {
    if (newPasswordInput.value != confirmNewPasswordInput.value) {
      confirmNewPasswordInput.setCustomValidity("Passwords do not match");
    } else {
      confirmNewPasswordInput.setCustomValidity("");
    }
  };
  newPasswordInput.addEventListener("input", validateEqual);
  confirmNewPasswordInput.addEventListener("input", validateEqual);

  passwordForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    try {
      const r = await fetch("/settings-api/update-password", {
        method: "POST",
        headers: {
          "content-type": "application/json",
        },
        body: JSON.stringify({
          currentPassword: currentPasswordInput.value,
          newPassword: newPasswordInput.value,
        }),
      });
      if (!r.ok) throw new Error(`Error ${r.status}: ${await r.text()}`);
      button.textContent = "Password changed";
    } catch (e) {
      button.textContent = "Password change failed";
      throw e;
    }
  });
</script>

<style>
  .password-details {
    display: flex;
    flex-direction: column;
    background-color: var(--m3c-primary-container);
    color: var(--m3c-on-primary-container);
    border-radius: 1.25rem;
    align-self: start;
  }
  summary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding-inline: 1rem;
    cursor: pointer;
  }
  ::details-content {
    overflow: hidden;
    transition:
      width 200ms ease,
      height 200ms ease;
  }
  details:not([open])::details-content {
    width: 8rem;
    height: 0;
  }
  form {
    display: inline-flex;
    flex-direction: column;
  }
  input,
  button {
    height: 3rem;
    padding-inline: 1rem;
  }
  input::placeholder {
    color: oklab(from var(--m3c-on-primary-container) l a b / 0.5);
    text-align: center;
  }
</style>
