---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" includeHeader={false} includeFooter={false}>
  <pre>██╗  ██╗ ██████╗ ██╗  ██╗
██║  ██║██╔═████╗██║  ██║
███████║██║██╔██║███████║
╚════██║████╔╝██║╚════██║
     ██║╚██████╔╝     ██║
     ╚═╝ ╚═════╝      ╚═╝</pre>
  <a href="/">Home</a>
</Layout>

<style>
  body {
    justify-content: center;
    gap: 1rem;
  }
  pre {
    align-self: center;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding-inline: 1rem;
    color: var(--m3c-primary);
  }
</style>
