---
import Layout from "../layouts/Layout.astro";
import Actions from "../components/home/Actions.astro";
import Usage from "../components/home/Usage.astro";
import Billing from "../components/home/Billing.astro";
import Account from "../components/home/Account.astro";
---

<Layout title="Home" footerPushToBottom={true} includeHeader={false}>
  <div class="wrap">
    <div class="stack-wrapper">
      <div class="stack">
        <Actions />
      </div>
    </div>
    <main>
      <Usage />
      <Billing />
      <Account />
    </main>
  </div>
</Layout>

<style>
  .wrap {
    display: grid;
    @media (width >= 60rem) {
      grid-template-columns: 2fr 3fr;
    }
    width: min(calc(100% - 3rem), 100rem);
    align-self: center;
    flex: 1;
  }
  .stack-wrapper {
    display: grid;
    @media (width < 60rem) {
      margin-block: 1.5rem;
    }
    @media (width >= 60rem) {
      position: sticky;
      top: 0;
      max-height: 100dvh;
    }
  }
  .stack {
    display: flex;
    flex-direction: column;
    place-self: center;
    gap: 0.25rem;
  }
  .stack > :global(:first-child) {
    height: 6rem;
    background-color: var(--m3c-primary-container-subtle);
    color: var(--m3c-on-primary-container-subtle);
  }
  .stack > :global(:nth-child(2)) {
    height: 4rem;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @media (width >= 60rem) {
      margin-block: 15dvh;
      align-self: center;
    }
  }
  main > :global(:not(:first-child)) {
    margin-top: 1em;
  }
</style>
