---
import Layout from "../layouts/Layout.astro";
import InfoBoxes from "../components/controls/InfoBoxes.astro";
import Billing from "../components/controls/Billing.astro";
import Account from "../components/controls/Account.astro";
---

<Layout title="Controls" footerPushToBottom={true} loggedIn="y">
  <main>
    <InfoBoxes />
    <Billing />
    <Account />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 50rem;
    align-self: center;

    > * {
      margin-top: 1em;
    }
  }
</style>
