---
import Layout from "../layouts/Layout.astro";
import Playground from "../components/playground/Playground.svelte";
import "../styles/prose.css";
---

<Layout title="Playground" includeFooter={false} loggedIn="y">
  <div class="playground">
    <Playground client:load />
  </div>
</Layout>

<style>
  .playground {
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-rows: 1fr auto;
    flex-grow: 1;
    gap: 0.5rem;
  }
</style>
