---
import { pages } from "../../lib/pages";
---

<button id="key" class="action layer font-headline-large">New API key<span>⋯</span></button>
{
  pages
    .filter((p) => p.preferredLoggedIn != "n" && p.href != "/")
    .map(({ href, title, icon }) => (
      <a href={href} class="action layer font-headline-small">
        {title}
        <svg width="1em" height="1em" viewBox="0 0 24 24">
          <Fragment set:html={icon} />
        </svg>
      </a>
    ))
}

<script>
  const keyElement = document.getElementById("key") as HTMLButtonElement;
  keyElement.onclick = async () => {
    const r = await fetch("/user_api_create-token");
    if (!r.ok) throw new Error("Failed to regenerate API token");
    const { token } = await r.json();

    keyElement.textContent = "Copy";
    keyElement.onclick = () => {
      navigator.clipboard.writeText(token);
      keyElement.textContent = "Copied!";
      setTimeout(() => {
        keyElement.textContent = "Copy API key";
      }, 2000);
    };
  };
</script>
<style>
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    gap: 1rem;
    padding-inline: 0.75rem;
    border-radius: 1.5rem;

    background-color: var(--m3c-surface-container);
    color: var(--m3c-on-surface-variant);

    cursor: pointer;
  }
  .icon {
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
  }
</style>
