---
import If from "./jinja/If.astro";
import { pages } from "../lib/pages";

const currentPath = Astro.url.pathname.replace(".html", ""); // price of disabling index.html

interface Props {
  loggedIn: "y" | "n" | "auto";
}
const { loggedIn } = Astro.props;
---

<header>
  <nav>
    {
      pages.map(({ href, title, icon, preferredLoggedIn }) => {
        const isSelected = currentPath == href;
        const navItem = (
          <a class="font-label-medium" href={href}>
            <div class:list={{ content: true, selected: isSelected, layer: true }}>
              <svg width="24" height="24" viewBox="0 0 24 24">
                <Fragment set:html={icon} />
              </svg>
              <span>{title}</span>
            </div>
          </a>
        );

        if (!preferredLoggedIn || preferredLoggedIn == loggedIn) return navItem;
        if (loggedIn == "auto")
          return (
            <If condition={preferredLoggedIn == "y" ? "loggedin" : "not loggedin"}>{navItem}</If>
          );
      })
    }
  </nav>
</header>

<style>
  header {
    display: grid;
  }

  nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    height: 4rem;
  }

  .content {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 1.25rem;
    gap: 0.5rem;
    padding-inline: 1rem;
  }

  .content.selected {
    background-color: var(--m3c-secondary-container);
    color: var(--m3c-on-secondary-container);
  }
</style>
