---
import Layout from "./Layout.astro";
import "../styles/prose.css";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} footerPushToBottom={true} loggedIn="auto">
  <main class="prose">
    <slot />
  </main>
</Layout>

<style>
  main {
    width: min(100% - 2rem, 50rem);
    align-self: center;
  }
</style>
