---
import Layout from "./Layout.astro";
import "../styles/prose.css";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} footerPushToBottom={true}>
  <main class="prose">
    <slot />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 50rem;
    align-self: center;
  }
</style>
