---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/base.css";
import icon from "../lib/icon.svg?url";

type HeaderProps =
  | {
      includeHeader?: true;
      loggedIn: "y" | "n" | "auto";
    }
  | {
      includeHeader: false;
      loggedIn?: never;
    };

type Props = {
  title: string;
  includeFooter?: boolean;
  footerPushToBottom?: boolean;
} & HeaderProps;

const {
  title,
  loggedIn = "auto",
  includeHeader = true,
  includeFooter = true,
  footerPushToBottom = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href={icon} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    {includeHeader && <Header {loggedIn} />}
    <slot />
    {includeFooter && <Footer pushToBottom={footerPushToBottom} />}
    <script>
      import "../lib/etc/layer.ts";
    </script>
  </body>
</html>
